<p id="notice"><%= notice %></p>

<p>
  <strong>Part number:</strong>
  <%= @a9.part_number %>
</p>

<p>
  <strong>Item number:</strong>
  <%= @a9.item_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @a9.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @a9.description %>
</p>

<p>
  <strong>Frame size:</strong>
  <%= @a9.frame_size %>
</p>

<p>
  <strong>Seal size:</strong>
  <%= @a9.seal_size %>
</p>

<p>
  <strong>Seal type:</strong>
  <%= @a9.seal_type %>
</p>

<p>
  <strong>Frame option:</strong>
  <%= @a9.frame_option %>
</p>

<p>
  <strong>Pump size:</strong>
  <%= @a9.pump_size %>
</p>

<p>
  <strong>Case steam jkt:</strong>
  <%= @a9.case_steam_jkt %>
</p>

<p>
  <strong>Twell bearing hsg:</strong>
  <%= @a9.twell_bearing_hsg %>
</p>

<p>
  <strong>Fastener matl:</strong>
  <%= @a9.fastener_matl %>
</p>

<p>
  <strong>Shaft duty:</strong>
  <%= @a9.shaft_duty %>
</p>

<p>
  <strong>Shaft matl:</strong>
  <%= @a9.shaft_matl %>
</p>

<p>
  <strong>Isolator option:</strong>
  <%= @a9.isolator_option %>
</p>

<p>
  <strong>Ball qty:</strong>
  <%= @a9.ball_qty %>
</p>

<p>
  <strong>Matl of const:</strong>
  <%= @a9.matl_of_const %>
</p>

<p>
  <strong>Oring matl:</strong>
  <%= @a9.oring_matl %>
</p>

<p>
  <strong>Stat seal matl:</strong>
  <%= @a9.stat_seal_matl %>
</p>

<p>
  <strong>Lip seal matl:</strong>
  <%= @a9.lip_seal_matl %>
</p>

<p>
  <strong>Exp groove:</strong>
  <%= @a9.exp_groove %>
</p>

<p>
  <strong>Exp size:</strong>
  <%= @a9.exp_size %>
</p>

<p>
  <strong>Lip seal hi press:</strong>
  <%= @a9.lip_seal_hi_press %>
</p>

<p>
  <strong>Seal hsg stm jkt:</strong>
  <%= @a9.seal_hsg_stm_jkt %>
</p>

<%= link_to 'Edit', edit_a9_path(@a9) %> |
<%= link_to 'Back', a9s_path %>
